@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.travelerplan-container {
  font-family: "Open Sans", sans-serif !important;
  display: flex;
  flex-direction: column; // Add this line
  justify-content: center;
  align-items: center;
  padding-bottom: 7%;

  @media (max-width: 600px) {
    .form-row {
      flex-direction: column; /* Stack fields vertically on mobile */
      align-items: center; /* Center fields horizontally */
      padding: 0; /* Remove padding on mobile */
    }

    .MuiFormControl-root {
      width: 100%;
      max-width: 300px;
      margin-bottom: 20px;
    }

    button {
      width: 100%;
      max-width: 300px;
      align-self: center;
      background-color: darkolivegreen;
    }
  }

  .form-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    .form {
      display: flex;
      flex-direction: column;

      .MuiFormControl-root {
        width: 300px;
        margin-bottom: 20px;

        .MuiOutlinedInput-root {
          fieldset {
            border-color: darkolivegreen;
            border-width: 2px;
            border-radius: 10px;
          }
        }
      }

      button {
        width: 300px;
        align-self: center;
        background-color: darkolivegreen;
      }
    }

    .form-row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
      padding-left: 5px;
      .form-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-bottom: 20px;
        margin-left: 0px;
        margin-bottom: 20px;
        padding-right: 45px;
        padding-left: 45px;
        @media (max-width: 600px) {
          padding-left: 7px;
          padding-right: 7px;
        }

        p {
          margin-bottom: 10px;
          white-space: nowrap;
          align-self: center;
        }
      }
    }
  }
}

/* Add space between text fields */
.MuiFormControl-root:not(:last-child) {
  margin-right: 20px; /* Adjust spacing as needed */
  @media (max-width: 600px) {
    margin-right: 0px;
  }
}

.main-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 5%;
}

/* ... Other existing CSS rules ... */
