@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.add-bus-page {
  display: flex;
  justify-content: space-around;
  @media (max-width: 600px) {
    display: block;
  }
}

.addBus {
  font-family: "Open Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 5.7%;
  @media (max-width: 600px) {
    height: auto;
  }

  h1 {
    margin-bottom: 50px;
    margin-top: 80px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .grid-container {
      width: 90%;
      display: grid;
      align-items: center;
      justify-items: center;
      @media (min-width: 600px) {
        // add a media query for larger screen sizes
        grid-template-columns: repeat(4, 1fr);
      }
    }

    .form-field {
      display: flex;
      flex-direction: column;
      align-items: center;
      // margin-bottom: 20px;
      margin-left: 0px;
      margin-right: -5px;
      margin-bottom: 20px;

      p {
        margin-bottom: 10px;
        white-space: nowrap;
        align-self: center;
      }

      .MuiFormControl-root {
        width: 250px;

        .MuiOutlinedInput-root {
          fieldset {
            border-color: darkolivegreen;
            border-width: 2px;
            border-radius: 10px;
          }
        }
      }
    }

    .MuiFormControl-root {
      width: 250px;

      .MuiOutlinedInput-root {
        fieldset {
          border-color: darkolivegreen;
          border-width: 2px;
          border-radius: 10px;
        }
      }
    }

    button {
      width: 300px;
      align-self: center;
      background-color: darkolivegreen;
    }

    .button-container {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 2%;
    }
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 24px !important;
      margin-top: 9%;
    }

    .grid-container {
      grid-template-columns: 1fr;
    }

    .form-container {
      form {
        display: block;
      }
    }

    .form-field {
      margin-bottom: 20px !important;
    }
    .button-container {
      margin-bottom: 10%;
    }
  }
}
