@import url("https://fonts.googleapis.com/css?family=Laila");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.traveler-mui-navbar {
  background-image: url("./navbarbackground.jpg");
  background-size: cover;
  h5 {
    font-family: "Laila", sans-serif !important;
    font-size: large;
    padding-right: 30%;
  }
  h6 {
    font-family: "Open Sans", sans-serif !important;
    color: white;
    font-size: large;
    padding-left: 5%;
    white-space: nowrap;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .mui-icon {
    padding-left: 35%;
  }
}